{% extends 'base.html' %}

{% block content %}

<h2>Incident Map</h2>
<div class="container-fluid">
    <div id="map" style="height: 500px; width: 100%; max-width: 100%;"></div>
    <script>
                document.addEventListener("DOMContentLoaded", function () {

                    const mapContainer = document.getElementById('map');

                    if (!mapContainer) return;

                    var map = L.map('map').setView([11.4120, 124.9350], 10);

                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '© OpenStreetMap'
                    }).addTo(map);

                    let incidents = JSON.parse('{{ incidents|escapejs }}');

                    incidents.forEach(i => {
                        L.circleMarker([i.lat, i.lng]).addTo(map);
                    });

                    setTimeout(() => {
                        map.invalidateSize();
                    }, 300);

                    // 🔔 toggle dropdown
                    bell.addEventListener("click", (e) => {
                        e.stopPropagation();
                        dropdown.style.display =
                            dropdown.style.display === "block" ? "none" : "block";
                    });

                    // ❌ close when clicking outside
                    document.addEventListener("click", () => {
                        dropdown.style.display = "none";
                    });

                    dropdown.addEventListener("click", (e) => {
                        e.stopPropagation();
                    });
                });

                setTimeout(() => {
                    map.invalidateSize();
                }, 300);
    </script>
</div>
{% endblock %}